.audiojs {
    background: #404040;
    height: 20px;
    width: 100%;

    .play-pause {
        height: 23px;
        padding: 0 8px 0 0;
        margin-top: -3px;
        width: 23px;
    }

    .scrubber {
        background: #5a5a5a;
        height: 10px;
        width: 70%;
        margin: 5px;
    }

    .time {
        height: 23px;
        line-height: 23px;
    }
}

.Podcast-title {
    color: $azul;
    text-align: center;
}

.PodcastList {
    list-style: none;
    padding-left: 24px;
    &-item {
        position: relative;
        a {
            color: black;
            display: block;
            font-weight: normal;
            text-decoration: none;
            padding: 0.25em 0;
        }
        &.playing {
            &::before {
                font-family: "FontAwesome";
                content: '\f001';
                width: 14px;
                height: 14px;
                padding: 3px;
                line-height: 14px;
                margin: 0px;
                position: absolute;
                left: -20px;
                top: 5px;
                color: $verde;
                font-size: 13px;
                text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
