.MiddleContent {
    position: relative;
    .Image {
        margin: 0;
        padding: 0;
        img {
            width: 100%;
        }
    }
    .Logo {
        background-color: white;
        border: 11px solid $verdeclaro;
        border-radius: 50%;
        bottom: -53px;
        left: 50%;
        height: 210px;
        position: absolute;
        width: 210px;
        @include transform(translateX(-50%));
        h1 {
            border-bottom: 2px solid $azul;
            color: $azul;
            display: inline-block;
            font-size: 60px;
            font-family: 'Amatic SC', cursive;
            font-weight: normal;
            line-height: 64px;
            margin: 45px 14px 0;
            text-align: center;
        }
        h2 {
            color: $azul;
            font-size: 18px;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            margin: 0.25em auto;
        }
    }
}