.Footer {
    background-color: rgba($blanco, 0.7);
    bottom: 0;
    @include display(flex);
    @include justify-content(space-between);
    height: 50px;
    padding-left: 266px;
    position: fixed;
    width: 100%;
}

.SocialNetworks {
    &-title {
        display: inline-block;
    }
    &-list {
        display: inline-block;
        margin: 10.5px 0;
    }
    &-item {
        color: $verde;
        font-size: 1.5em;
        display: inline-block;
    }
}

.Copyright {
    display: inline-block;
    margin: 1em 0;
    padding-right: 1em;
    text-align: right;
}