@import "bourbon/bourbon";
@import "neat/neat";
@import "../css/normalize.css";
@import "../css/font-awesome.min.css";

$azul: #2196f3;
$verde: #009688;
$verdeOscuro: #005d4f;
$cafe: #795548;
$blanco: #ffffff;
$negro: #111111;
$gris: #9e9e9e;

@import url(http://fonts.googleapis.com/css?family=Raleway);

@import "utilities";
@import "common";
@import "header";
@import "content";
@import "footer";