{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Oído y Paz</title>
    {#  SEO  #}
    <meta name="description" content="Herramienta para la difusión y apropiación de contenidos de la ley de restitución de tierras para el sector rural analfabeta de Colombia.">
    <meta name="og-title" content="">

    <meta itemprop="name" content="Oído y Paz">
    <meta itemprop="description" content="Herramienta para la difusión y apropiación de contenidos de la ley de restitución de tierras para el sector rural analfabeta de Colombia.">
    <meta itemprop="image" content="http://www.example.com/image.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="http://oidoypaz.com/media/slider/slide_02.jpg">
    <meta name="twitter:site" content="@ngiehernandez">
    <meta name="twitter:title" content="Oído y Paz">
    <meta name="twitter:description" content="Herramienta para la difusión y apropiación de contenidos de la ley de restitución de tierras para el sector rural analfabeta de Colombia.">
    <meta name="twitter:creator" content="@ngiehernandez">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://oidoypaz.com/media/slider/slide_02.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Oído y Paz, El oír claro de la historia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://oidoypaz.com/" />
    <meta property="og:image" content="http://oidoypaz.com/media/slider/slide_02.jpg" />
    <meta property="og:description" content="Herramienta para la difusión y apropiación de contenidos de la ley de restitución de tierras para el sector rural analfabeta de Colombia." />
    <meta property="og:site_name" content="Oído y Paz" />
    {#  END SEO  #}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <section class="Wrapper">
        <header class="Header">
            <div class="Header-logo">
                <a href="{% url 'web:home' %}"><span class="u-textAmatic">Oído y paz</span></a>
            </div>
            <nav class="Navigation">
                <ul>
                    <li class="u-textBebas"><a href="{% url 'web:what' %}">¿Quiénes somos?</a></li>
                    <li class="u-textBebas"><a href="{% url 'web:favorite' %}">Tracks favoritos</a></li>
                    <li class="u-textBebas"><a href="{% url 'web:upload' %}">Sube tu track</a></li>
                </ul>
            </nav>
            <div class="Search">
                <label class="u-textBebas" for="">Busca tu audio</label>
                <input type="text">
                <button><i class="fa fa-search"></i></button>
            </div>
        </header>
        <section class="MiddleContent">
            <div class="flexslider">
                <ul class="slides">
                    {% for slide in slider %}
                        <li><img src="/media/{{ slide.img }}" alt=""></li>
                    {% empty %}
                        No hay imagenes
                    {% endfor %}
                </ul>
            </div>
            <div class="Logo">
                <h1>Oído y Paz</h1>
                <h2>El oír claro de la historia</h2>
            </div>
        </section>
        <section class="MainContent">
            <div class="MainContent-left">
                <h3 class="MainContent-title">Categorías</h3>
                <ul class="MainContent-categories">
                    {% for c in category_menu %}
                        <li><a href="{% url 'web:category' c.slug %}">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
                <br>
                <h2 class="Voces-title">Las víctimas hablan</h2>
                <audio id="voces"></audio>
                <ol class="VocesList">
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_1.mp3">Desplazamiento</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_2.mp3">Ley de Víctimas</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_3.mp3">Consulta Amplia</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_4.mp3">Consulta Previa</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_5.mp3">Reparación Colectiva</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_6.mp3">Derechos Económicos</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_7.mp3">Derechos Ciudadanos</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_8.mp3">Medidas de Seguridad</a></li>
                    <li class="VocesList-item"><a href="#" data-src="/media/victimas_hablan/Las_victimas_hablan_9.mp3">Garantías de Retorno</a></li>
                </ol>
            </div>
            <div class="MainContent-center">
                {% block mainContent %}

                {% endblock %}
            </div>
            <div class="MainContent-right">
                <h2 class="Podcast-title">Fonoteca por la paz</h2>
                <audio id="podcast"></audio>
                <ol class="PodcastList">
                    {% for p in library %}
                        <li class="PodcastList-item">
                            <a href="#" data-src="/media/{{ p.track }}" data-album="{{ p.album }}" data-artist="{{ p.artist }}" data-year="{{ p.year }}">{{ p.titulo}}</a>
                        </li>
                    {% endfor %}
                </ol>
                <div class="Gratitude">
                    <p>Con el apoyo</p>
                    <figure class="Gratitude-image">
                        <img src="{% static 'images/Logo_Pan_Para_El_Mundo.jpg' %}" alt="Pan para el mundo">
                    </figure>
                </div>
            </div>
        </section>
        <footer class="Footer">
            <div class="Footer-social">
                <span>Nuestras redes sociales</span>
                <a href="https://www.facebook.com/pages/O%C3%ADdo-y-Paz/996164997071888?ref=hl" target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a href="https://twitter.com/OidoyPaz" target="_blank"><i class="fa fa-twitter-square"></i></a>
                <a href="mailto:oidoypaz@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="Footer-copyleft">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
                <span>Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</span>
            </div>
            <div class="Footer-credits">
                <span>Desarrollado por Diego Forero</span>
            </div>
        </footer>
    </section>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67039852-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/audiojs/audio.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extraJS %}{% endblock %}
</body>
</html>
