{% extends 'base.html' %}
{% load static from staticfiles %}
{% block mainContent %}
    <h2>{{ object.name }}</h2>
    {% if object.podcast_set.all %}
        {% for p in object.podcast_set.all %}
            <script type="text/javascript">
                var podcast = {{ p.id }}
            </script>
            <div class="Track">
                <h3 class="Track-title">Oír <i class="fa fa-volume-up"></i></h3>
                <div class="Track-player">
                    <audio class="Track-data">
                        <source src="/media/{{ p.audio }}">
                    </audio>
                </div>
                <div class="Like"><i class="fa fa-thumbs-up"></i> <span class="likes_val"></span></div>
            </div>
        {% endfor %}
    {% endif %}
    {% autoescape off %}
        {{ object.content }}
    {% endautoescape %}
{% endblock %}
{% block extraJS %}
    <script src="{% static 'js/category.js' %}"></script>
{% endblock %}