{% extends 'base.html' %}
{% block mainContent %}
    <p>
        El campo en Colombia es escenario de una serie de conflictos cuyas implicaciones
        económicas y sociales no alcanzan a mostrarse en toda su profundidad, pese a las
        cifras que la acompañan, cerca del 60% de la población rural vive en la pobreza y un
        27% lo hace en la indigencia. Las cifras sobre el número de desplazados van de los
        2,4 millones a los 3,7 millones con cerca de 200.000 desplazados nuevos por año,
        según informa la Comisión de Seguimiento al Desplazamiento Forzado.
        La Ley de Víctimas 1448 demanda que toda víctima de despojo y las que hubieren
        abandonado sus predios forzadamente, tendrán acceso a medidas especiales de
        restitución de tierras, siempre y cuando dicho despojo o abandono hubiera ocurrido
        después del 1º de enero de 1991.
    </p>

    <p>
        La restitución se realizará mediante un proceso judicial libre, en donde la carga
        probatoria estará en cabeza del presunto despojador; es decir, será el victimario el que
        deberá demostrar que adquirió el predio de buena fe y no se le pedirá a la víctima que
        compruebe el despojo. Para acceder a la restitución de tierras se requiere presentar
        una solicitud ante la Unidad Administrativa Especial de Gestión de Tierras. Pero, sea
        considerado como fracaso la política de restitución de tierras vulnerando el derecho de
        las víctimas y legitimando las prácticas de despojo por parte de grandes actores
        económicos.
    </p>

    <p>
        Es una obligación del Estado restituir los predios despojados a sus legítimos
        propietarios y se requiere examinar si efectivamente la acumulación de grandes
        extensiones de tierra por parte de empresarios tiene la virtud de favorecer a la mayoría
        de la población, o si por el contrario reporta beneficios directos y mayores a las propias
        empresas y es un deber de los sin tierra reclamar sus tierras despojadas o abandonadas.
    </p>

    <p>
        www.oidoypaz.com es una herramienta que facilita la difusión sonora y la apropiación
        de contenidos de la ley de restitución de tierras para el conocimiento por parte del
        sector rural analfabeta de Colombia, beneficiarios directos campesinos. Una caja en
        construcción de resonancia de las voces y necesidades ciudadanas.  Las herramientas
        ciudadanas deben buscar convertirse en espacios de construcción de lo público para
        el empoderamiento ciudadano.
    </p>

    <p>
        www.oidoypaz.com cuenta con la convicción de mostrar como la cultura de la paz es
        barata y la gestión de la paz es cara, como la cultura de la paz requiere oído y el
        mismo oído así como el aire es para todos, la música con contenido de paz es
        accesible para todos y va dirigido a todo campesino, esta web es para ellos, es una
        expresión y construcción conjunta y se puede construir a su manera. No se debe
        permitir seguir perdiendo la capacidad de oír, la capacidad de escuchar, aquí en este
        proceso se concibe que quien más aprende es quien más escucha.
    </p>

{% endblock %}