{% extends 'base.html' %}

{% block mainContent %}
    <p>
        Una herramienta que facilita la difusión sonora y la apropiación de contenidos de la ley
        de restitución de tierras para el conocimiento por parte del sector rural analfabeta de
        Colombia, beneficiarios directos campesinos. Una caja en construcción de resonancia de las voces y necesidades ciudadanas.
    </p>
    <ul>
        <li>
            <p>La información publicada en esta herramienta virtual será permanente y siempre disponible para ser consultada
                durante las 24 horas de los 365 días del año.</p>
        </li>
        <li>
            <p>Es una herramienta virtual, dentro de las pocas actualmente, pensada para campesinos, víctimas del conflicto
                armado con grado de analfabetismo, con contenido de alto interés para aquellos que están en proceso de restitución de tierras.</p>
        </li>
        <li>
            <p>Este será un medio interactivo por ser una herramienta colaborativa. Todo aquel que consulte adquirirá visual y
                sonoramente conocimiento sobre el proceso de restitución de tierras en Colombia, sin importar distancias. </p>
        </li>
        <li>
            <p>La información publicada es instantánea ya que en el momento de su publicación, llegará en cuestión de segundos
                a cualquier servidor en red en cualquier lugar del mundo.</p>
        </li>
    </ul>
{% endblock %}